*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root{
  --global-colorLogo: #56487d;
  --global-inputColorText:rgba(68, 65, 65, 0.788);
  --global-backgroundColor:#56487d1e;
  --global-backgroundShadow:rgba(255, 255, 255, 0.336);
  --global-green:rgb(15, 218, 15);
  --global-red:rgb(238, 74, 74);
  --global-dia:#ffd150;
  --global-noite:#11222a;
}



header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  
  
}

.gefin{
  width: 100%;
  object-fit: cover;
  max-width: 300px;
}

#pageMain{
  display: none;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}


#pageAction{
  display: flex;
  flex-direction: column;
  margin: auto;
}

#Resultados{
  display: flex;
  justify-content: space-around;
}

#Resultados div{
  padding: 10px;
  box-shadow: 1px 3px 5px 3px #01000f2d;
  margin: 20px 0px;
  border-radius: 5px;
}


#entradas{
  color: var(--global-green);
}
#saidas{
  color: var(--global-red);
}

output{
  font-size: 22px;
}


#lancamentos{
  display: none;
}

#printInput{
  background-color: white;
  border-radius: 10px;
  margin: 15px;
}
.printCab{
  width: 100%;
}

.printCab td{
  padding: 10px;
}


.Anality{
  text-align: center;
  padding: 20px;
}

.cabecalho{
  text-decoration: underline;
}


.lcm img:hover{
  cursor: pointer;
}

#Anality h2{
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

#Anality button{
  display: none;
}

.receitaDia,.despesaDia{
  font-size: 15px;
}

.resume{
  text-align: center;
  width: 300px;
  margin: auto;
}
