*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}

:root{
  --global-colorLogo: #56487d;
  --global-inputColorText:rgba(68, 65, 65, 0.788);
  --global-backgroundColor:#56487d1e;
  --global-backgroundShadow:rgba(255, 255, 255, 0.336);
  --global-green:rgb(15, 218, 15);
  --global-red:rgb(238, 74, 74);
}

body{
  background-color: var(--global-backgroundColor);
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  
  
}

img{
  width: 100%;
  object-fit: cover;
  max-width: 300px;
}

#pageMain{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 15px;
  margin: auto;
  background-color: var(--global-backgroundShadow);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

#pageMain p{
  color: var(--global-colorLogo);
  text-align: center;
}


#formMain{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px;
}

#formMain p{
  text-align: left;
  font-style: italic;
  margin-left: 5px;
  
}

#formMain input{
  border-radius: 10px;
  border: 1px solid var(--global-colorLogo);
  padding: 5px;
  text-align: center;
  color:var(--global-inputColorText)
}

#btnEnter{
  padding: 10px 50px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  color: var(--global-colorLogo);
  border: 1px solid var(--global-colorLogo);
}

#btnEnter:hover{
  cursor: pointer;
  background-color: var(--global-colorLogo);
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}



#pageAction{
  display: flex;
  flex-direction: column;
  margin: auto;
}

#Resultados{
  display: flex;
  justify-content: space-around;
}

#Resultados div{
  padding: 10px;
  box-shadow: 1px 3px 5px 3px #01000f2d;
  margin: 20px 0px;
}


#entradas{
  color: var(--global-green);
}
#saidas{
  color: var(--global-red);
}

output{
  font-size: 22px;
}


#lancamentos{
  display: grid;
  margin: 20px;
}

#lancamentos input{
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

#lancamentos p{
  margin-bottom: 10px;
}

#btnInput{
  background-color: blue;
  color: white;
  border: none;
}

#btnInput:hover{
  cursor: pointer;
  transform: translateY(3px)
}

#txtDesc{
}
#txtValor{

}
#txtTipo{

}

#printInput{
  background-color: white;
  border-radius: 10px;
  margin: 15px;
}
.printCab{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}



