*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}

:root{
  --global-colorLogo: #56487d;
  --global-inputColorText:rgba(68, 65, 65, 0.788);
  --global-backgroundColor:#56487d1e;
  --global-backgroundShadow:rgba(255, 255, 255, 0.336);
  --global-green:rgb(15, 218, 15);
  --global-red:rgb(238, 74, 74);
  --global-dia:#ffd150;
  --global-noite:#11222a;
}

body{
  background-color: var(--global-backgroundColor);
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  
  
}

.gefin{
  width: 100%;
  object-fit: cover;
  max-width: 300px;
}

#pageMain{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 15px;
  margin: auto;
  background-color: var(--global-backgroundShadow);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

#pageMain p{
  color: var(--global-colorLogo);
  text-align: center;
}


#formMain{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px;
}

#formMain p{
  text-align: left;
  font-style: italic;
  margin-left: 5px;
  
}

#formMain input{
  border-radius: 10px;
  border: 1px solid var(--global-colorLogo);
  padding: 5px;
  text-align: center;
  color:var(--global-inputColorText)
}

#btnEnter{
  padding: 10px 50px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  color: var(--global-colorLogo);
  border: 1px solid var(--global-colorLogo);
}

#btnEnter:hover{
  cursor: pointer;
  background-color: var(--global-colorLogo);
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}



#pageAction{
  display: flex;
  flex-direction: column;
  margin: auto;
}

#Resultados{
  display: flex;
  justify-content: space-around;
}

#Resultados div{
  padding: 10px;
  box-shadow: 1px 3px 5px 3px #01000f2d;
  margin: 20px 0px;
  border-radius: 5px;
}


#entradas{
  color: var(--global-green);
}
#saidas{
  color: var(--global-red);
}

output{
  font-size: 22px;
}


#lancamentos{
  display: grid;
  margin: auto;
}

#lancamentos input{
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
}

#lancamentos p{
  margin-bottom: 10px;
  font-size: 20px;
}

form input{
  margin: 5px;
}

form label:hover{
  cursor: pointer;
}

#btnInput{
  background-color: blue;
  color: white;
  border: none;
}

#btnInput:hover{
  cursor: pointer;
  transform: translateY(3px)
}

#txtDesc{
}
#txtValor{

}
#txtTipo{

}

#printInput{
  background-color: white;
  border-radius: 10px;
  margin: 15px;
}
.printCab{
  width: 100%;
}

.printCab td{
  padding: 5px 0;
}


.Anality{
  text-align: center;
  padding: 20px;
  color: var(--global-colorLogo);
}

.cabecalho{
  text-decoration: underline;
}

#Anality h2{
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

.resume{
  text-align: center;
}


@media (min-width:800px){

  #pageAction{
    width: 800px;
    display: grid;
    grid-template-areas: 
    'A B B'
    'C C C'
    'D D D';
  }

  #Resultados{
    grid-area: A;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  #Resultados div{
    border-radius: 15px;
    margin: 10px 0;
  }

  #lancamentos{
    grid-area: B;
    margin: 20px
    
  }

  #txtDesc,#txtValor{
    width: 100%;
  }

  #printInput{
    grid-area: C;
  }

  form input{
    margin: 20px;
  }

  form label:hover{
    cursor: pointer;
  }

  #Anality{
    grid-area: D;
  }
 

}



