*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', cursive;
}

:root{
  --global-colorLogo: #56487d;
  --global-inputColorText:rgba(68, 65, 65, 0.788);
  --global-backgroundColor:#56487d1e;
  --global-backgroundShadow:rgba(255, 255, 255, 0.336);
}

body{
  background-color: var(--global-backgroundColor);
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  
  
}

img{
  width: 100%;
  object-fit: cover;
  max-width: 300px;
}

#pageMain{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 15px;
  margin: auto;
  background-color: var(--global-backgroundShadow);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

p{
  color: var(--global-colorLogo);
  text-align: center;
}


#formMain{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 30px;
}

#formMain p{
  text-align: left;
  font-style: italic;
  margin-left: 5px;
  
}

#formMain input{
  border-radius: 10px;
  border: 1px solid var(--global-colorLogo);
  padding: 5px;
  text-align: center;
  color:var(--global-inputColorText)
}

#btnEnter{
  padding: 10px 50px;
  font-weight: 900;
  border: none;
  border-radius: 50px;
  color: var(--global-colorLogo);
  border: 1px solid var(--global-colorLogo);
}

#btnEnter:hover{
  cursor: pointer;
  background-color: var(--global-colorLogo);
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}



#pageAction{
  display: flex;
  flex-direction: column;
}

#Resultados{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 10px;
  border: 1px solid black;
  padding: 10px;
}

#Resultados p{
  text-align: left;
  padding-bottom: 10px;
  font-size: 20px;
}
